services:
    api:
        container_name: server
        build: .
        image: app-base:latest
        ports:
            - "8000:8000"
        env_file:
            - ".env"
        volumes:
            - .:/app
        depends_on:
            alembic:
                condition: service_started
            minio:
                condition: service_healthy

    db:
        container_name: db
        image: postgres:16
        restart: unless-stopped
        ports:
            - "5433:5432"
        environment:
            POSTGRES_DB: ${DB_NAME}
            PG_USER: ${DB_USER}
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - db_data:/var/lib/postgresql/data
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
            interval: 5s
            timeout: 3s
            retries: 5

    alembic:
        image: app-base:latest
        command: sh -c "alembic upgrade head"
        depends_on:
            db:
                condition: service_healthy
        env_file:
            - ".env"

    redis:
        container_name: redis
        image: redis/redis-stack-server:latest
        restart: unless-stopped
        volumes:
            - redis_data:/data
        environment:
            REDIS_PASSWORD: ${REDIS_PASSWORD}
        command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
        healthcheck:
            test: [ "CMD", "redis-cli", "ping" ]
            interval: 5s
            timeout: 3s
            retries: 5

    telegram-bot:
        container_name: telegram_bot
        image: app-base:latest
        command: ["python", "-m", "src.bot.bot"]
        restart: unless-stopped
        env_file:
            - ".env"
        depends_on:
            redis:
                condition: service_healthy
            api:
                condition: service_started
    
    minio:
        container_name: minio
        image: minio/minio:latest
        restart: unless-stopped
        ports:
            - "9000:9000"
            - "9001:9001"
        environment:
            MINIO_ROOT_USER: ${MINIO_ROOT_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
            MINIO_SERVER_URL: http://${MINIO_PUBLIC_HOST}:${MINIO_PORT}
        volumes:
            - minio_data:/data
        entrypoint: >
            sh -c '
                minio server /data --console-address ":9001" &
                sleep 10 &&
                mc alias set myminio http://localhost:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD} --insecure &&
                mc mb myminio/avatars --insecure || true &&
                wait
            '
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
            interval: 5s
            timeout: 3s
            retries: 5


volumes:
    db_data:
    redis_data:
    minio_data:
